 /**  {
  border: 1px dashed orange;
}*/

body {
  font-family: 'Press Start 2P', cursive;
  background: black;
  color: white;
}

h1 {
  color: black;
  padding-left: 10px;
  text-shadow: -2px 0 #F4459E, 0 5px #38FEDF, 5px 0 #38FEDF, 0 -2px #F4459E;
  width: 50%;
  display: inline-block;
}

ul {
  float: right;
  display: inline;
  margin-right: 10px;
}

#start_game {
  display: block;
  padding: 10px 20px 10px 20px;
  border-radius: 5px;
  margin: 0 auto;
  margin-bottom: 10px;
  font-family: 'Press Start 2P', cursive;
  background-color: #3CEB1F;
  text-shadow: -1px 0 white, 0 1px white, 1px 0 white, 0 -1px white;
  box-shadow: -1px 0 white, 0 2px white, 2px 0 white, 0 -1px white;
}

#game {
  margin: 0 auto;
  width: 960px;
  height: 600px;
  display: block;
  background: gray;
  border: 5px solid #38FEDF;
  border-radius: 5px;
  box-shadow: -1px 0 #F4459E, 0 3px #F4459E, 3px 0 #F4459E, 0 -1px #F4459E;
}

h3 {
  font-size: 20%;
  text-align: center;
}

#blog {
  display: block;
  padding: 10px 20px 10px 20px;
  border-radius: 5px;
  margin: 0 auto;
  margin-top: 15px;
  margin-bottom: 30px;
  font-family: 'Press Start 2P', cursive;
  background-color: #3CEB1F;
  text-shadow: -1px 0 white, 0 1px white, 1px 0 white, 0 -1px white;
  box-shadow: -1px 0 white, 0 2px white, 2px 0 white, 0 -1px white;
  font-size: 20%;
}

img {
  font-family: 'Press Start 2P', cursive;
  float: left;
  border: 5px solid #38FEDF;
  border-radius: 5px;
  margin-right: 10px;
  box-shadow: -1px 0 #F4459E, 0 3px #F4459E, 3px 0 #F4459E, 0 -1px #F4459E;
}

p {
  font-size: 20px;
  font-weight: lighter;
  margin-top: 10px;
  margin-bottom: 30px;
}

.aboutFont  {
  font: 20px;
  margin: 10px;
  height: 200px;
  color: #3CEB1F;
  display: block;
}

#footer   {
  color: #FBC12F;
}
